html, body {
    margin: 0;
}

h1 {
  padding-left: 1rem;
}

/* navbar */
#navbar{
    display: flex;
    justify-content: space-around;

    background-color: #1E5128;
    padding-bottom : 20px;
    padding-top: 20px;
}

a{
    text-decoration: none;
    color: white;
}